
<section class="portrait">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis">
          <h1 class="display-4 fst-italic">¡Compra Exitosa!</h1>
          <br>
          <p class="lead my-3">Gracias por tu compra. Tu pedido ha sido procesado con éxito.</p>
          <p>Recibirás un correo electrónico con los detalles de tu pedido.</p>
          <div class="d-flex">
            <button class="btn btn-primary me-3" [routerLink]="['/productos']">Comprar más</button>
            <button class="btn btn-primary" [routerLink]="['/inventory']">Ver tu Inventario</button>
          </div>
        </div>
      </div>
      <div class="avatar col-lg-6 text-end"> <!-- Agrega la clase text-end aquí -->
        <div>
          <img class="avatar" [src]="dark" alt="avatar" style="height: 300px;">
        </div>
      </div>
    </div>
  </div>
</section>
