<section class="Foto">
  <div class="hero-carousel">
      <div class="carousel-slide">
          <img src="assets/Images/productos/portada1.png" alt="Imagen 1">
      </div>
      <div class="carousel-slide">
          <img src="assets/Images/productos/portada2.jpg" alt="Imagen 2">
      </div>
      <div class="carousel-slide">
          <img src="assets/Images/productos/portada3.png" alt="Imagen 3">
      </div>

  </div>
</section>

<section>
  <div class="producto">
  <div class="d-flex text-center ">
    <div class="col-6 mb-3 mb-sm-0">
      <div class="servicios-imagen text-bg-dark pt-3 px-3 pt-md-5 px-md-5  overflow-hidden h-100">
        <img src="assets/Images/productos/producto1.jpg" class="card-img-top" alt="producto">
        <div class="servicios my-3 py-3">
          <h2 class="display-6">Electrodomésticos para el Hogar</h2>
          <a routerLink="electrodomesticos" class="btn btn-light">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="servicios-imagen bg-secondary pt-3 px-3 pt-md-5 overflow-hidden px-md-5 h-100">
        <img src="assets/Images/productos/producto2.jpg" class="card-img-top" alt="producto">
        <div class="servicios my-3 p-3">
          <h2 class="display-6">Lo último en Tecnología</h2>
          <a routerLink="tecnologia" class="btn btn-dark">Comprar</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<router-outlet></router-outlet>
