/* carrito.component.css */
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.container {
  max-width: 600px;
  margin-bottom:auto;

}

/* Estilos opcionales para mejorar la apariencia */
h2 {
  color: #333;
}

p {
  color: #777;
}

.cart {
  margin-bottom: 20%;
}

.total {
  margin-top: 50px;
  margin-bottom: 10%;
  font-size: 30px;
}

.total p{
  font-size: 15px;
  font-weight: bold;
  color:rgb(0, 0, 0);
  text-align: center;
}

.custom-width {
  width: 60%;
  margin: 0 auto;
}

.custom-quantity {
  color: rgb(0, 0, 0); /* Cambia el color del texto a negro */
  font-weight: bold; /* Pone el texto en negrita */
  font-family:cursive;
}

.avatar-container {
  display: flex;
  justify-content: center;
}

.avatar-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.cart {
  font-size: 20px;
  font-weight: bolder;
}

.h2 {
  font-size: 25px;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif
}
