<mat-tab-group class="estado" animationDuration="500ms">
  <mat-tab label="Lista Productos">
    <div class="container p-4">
      <table mat-table [dataSource]="ListaProductos" class="table text-center text-white shadow">
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Id </th>
          <td mat-cell *matCellDef="let element" class="align-middle text-center"> {{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="Nombre">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
          <td mat-cell *matCellDef="let element" class="align-middle text-center"> {{element.nombre_producto}}</td>
        </ng-container>

        <ng-container matColumnDef="Stock">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Stock </th>
          <td mat-cell *matCellDef="let element" class="align-middle text-center"> {{element.stock}}</td>
        </ng-container>

        <ng-container matColumnDef="Marca">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Marca </th>
          <td mat-cell *matCellDef="let element" class="align-middle text-center">{{obtenerNombreMarca(element.marca_producto_Id)}}</td>
        </ng-container>

        <ng-container matColumnDef="Precio">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Precio </th>
          <td mat-cell *matCellDef="let element" class="align-middle text-center">$ {{element.precio_ahora|number:'1.2-2'}}</td>
        </ng-container>

        <ng-container matColumnDef="Opciones">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Opciones </th>
          <td mat-cell *matCellDef="let element" class="align-middle text-center">
            <div class="text-center">
              <button mat-icon-button color="warn" (click)="eliminar(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="editar(element)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br>

      <div class="col-12 p-t4" *ngIf="producto != null">
        <form [formGroup]="formulario" (ngSubmit)="Actualizar()">
          <div class="custom-container">
            <div class="row">
              <div class="text-center text-white">
                <div class="avatar-container mb-4">
                  <img src="/assets/Images/admin/icon.png" alt="Avatar" class="avatar-img img-fluid">
                </div>
              </div>
              <!-- Columna izquierda -->
              <div class="col-md-6 text-center">
                <div class="p-2 custom-container">
                  <label class="custom-label">Nombre Producto</label>
                  <input class="custom-input mx-auto" placeholder="Nombre" formControlName="nombre_producto">
                  <label class="custom-label">Descripción</label>
                  <input class="custom-input mx-auto" placeholder="Descripción" formControlName="descripcion">
                  <label class="custom-label">Stock</label>
                  <input class="custom-input mx-auto" placeholder="Stock" formControlName="stock">
                  <label class="custom-label">Url_Img</label>
                  <input class="custom-input mx-auto" placeholder="Url_Img" formControlName="url_Img">
                  <label class="custom-label">Precio ahora</label>
                  <input class="custom-input mx-auto" placeholder="Precio ahora" formControlName="precio_ahora">
                  <label class="custom-label">Precio antes</label>
                  <input class="custom-input mx-auto" placeholder="Precio antes" formControlName="precio_antes">
                </div>
              </div>

              <!-- Columna derecha -->
              <div class="col-md-6 text-center">
                <div class="form-group p-2 custom-input mx-auto">
                  <label class="custom-label" for="estadoId">Selecciona un estado del Producto</label>
                  <select class="form-select" aria-label="Selecciona un estado" formControlName="estadoId">
                    <option *ngFor="let item of ListaEstados" [value]="item.id">{{item.descripcion}}</option>
                  </select>
                </div>

                <div class="form-group p-2 custom-input mx-auto">
                  <label class="custom-label" for="marca_producto_Id">Selecciona la Marca del Producto</label>
                  <select class="form-select" aria-label="Selecciona la Marca" formControlName="marca_producto_Id">
                    <option *ngFor="let item of ListaMarcas" [value]="item.id">{{item.nombre_marca}}</option>
                  </select>
                </div>

                <div class="form-group p-2 custom-input mx-auto">
                  <label class="custom-label" for="categoria_producto_Id">Selecciona la Categoría del Producto</label>
                  <select class="form-select" aria-label="Selecciona la categoría" formControlName="categoria_producto_Id">
                    <option *ngFor="let item of Listacategoria_prod" [value]="item.id">{{item.nombre_categoria}}</option>
                  </select>
                </div>

                <mat-card-actions>
                  <button mat-button type="submit" class=" btn-custom">Actualizar
                    <mat-icon aria-hidden="false" aria-label="delete" fontIcon="add"></mat-icon>
                  </button>
                </mat-card-actions>
              </div>
            </div>
          </div>
        </form>
      </div>

      </div>
  </mat-tab>
</mat-tab-group>
