
.footer{
  background-color: #ededed;
  color: rgb(0, 0, 0);
  margin-top: auto;
}
.socialmedia{
   cursor: pointer;
   transition: .5s;
}
.socialmedia:hover{
   color: rgb(243, 243, 243);
   transition: .5s;
}
.imgfotter{
   height: 150px;
}
.lista{
   cursor: pointer;
   background-color: rgba(255, 255, 255, 0) !important;
   border: 0px solid rgba(0, 0, 0, 0.125) !important;
   transition: .5s;

}
.lista:hover{
   color: rgb(141, 111, 82);
   transition: .5s;
}
.sectionmedia{
   box-shadow: rgba(0, 0, 0, 0.45) 0px 17px 10px -20px;
}

.ps-2 {
  font-size: 20px;
}

.info {
  font-size: 15px;
  color:black;
}
.custom-link {
  text-decoration: none;
  color: black;
  transition: font-size 0.3s ease-in-out;
}

.custom-link:hover {
  font-size: 110%;
}

