<div class="container shadow border">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 text-center mb-4">Proceso de Pago con Tarjeta de Crédito</h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8">
      <h2 class="h4 mb-4">Ingrese sus Datos</h2>
      <form [formGroup]="formulario">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombres</label>
              <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
            </div>
            <div class="mb-3">
              <label for="apellido" class="form-label">Apellidos</label>
              <input type="text" class="form-control" id="apellido" formControlName="apellido" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" formControlName="email" required>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="mb-3">
              <label for="direccion_1" class="form-label">Dirección de Envío</label>
              <input type="text" class="form-control" id="direccion_1" formControlName="direccion_1" required>
            </div>
            <div class="mb-3">
              <label for="direccion_2" class="form-label">Dirección 2</label>
              <input type="text" class="form-control" id="direccion_2" formControlName="direccion_2" required>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-12 col-md-4">
      <h2 class="h4 mb-4">Detalles de la Tarjeta</h2>
      <div class="mb-3">
        <label for="numero_tarjeta" class="form-label">Número de Tarjeta</label>
        <input type="text" class="form-control" id="numero_tarjeta" value="0999 9800 6500 4091" required>
      </div>
      <div class="row">
        <div class="col-6 mb-3">
          <label for="cvv" class="form-label">CVV</label>
          <input type="text" class="form-control" id="cvv" value="906" required>
        </div>
        <div class="col-6 mb-3">
          <label for="expiracion" class="form-label">Fecha de Expiración</label>
          <input type="text" class="form-control" id="expiracion" value="11/2025" required>
        </div>
      </div>
      <div class="mb-3">
        <label for="titular_tarjeta" class="form-label">Titular de la Tarjeta</label>
        <input type="text" class="form-control" id="titular_tarjeta" value="Johanna Zumba" required>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button mat-button type="submit" class="btn btn-custom" (click)="comprar()">
        Finalizar compra
        <mat-icon aria-hidden="false" aria-label="delete" fontIcon="add"></mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="user.rolid===0 || ELEMENT_DATA===null" class="col-12 mt-5 d-flex justify-content-center align-items-center text-center">
    <span class="h5">El carrito está vacío</span>
  </div>
</div>
