.container {
  background-color:seashell;
  margin-bottom: 5%;
  padding: 2%;
}

.container h1{
  font-size: 25px;
  font-weight: bold;
}

.container h2{
  font-size: 20px;
  font-weight: bold;
}


.btn-custom {
 margin-bottom: 3%;
  background-color: rgba(24, 171, 240, 0.8); /* Reemplaza los valores RGB y ajusta la opacidad según tu preferencia */
  transition: transform 0.3s ease-in-out;
}

.btn-custom:hover {
  transform: scale(1.3); /* Escala el botón al 110% al pasar el ratón sobre él */
  background-color: rgb(147, 27, 191);
  border-color: rgb(251, 246, 246);
}
