.custom-mat-button {
  font-size: 15px;
  transition: transform 0.3s; /* Agrega una transición para suavizar el efecto */
}

.menu-button {
  display: flex;
  align-items:end;
}

.user {

  border: 2px solid #746e6e; /* Puedes ajustar el color y grosor del borde según tus preferencias */
  border-radius: 4px; /* Puedes ajustar la cantidad de borde redondeado */
  margin-right: 1%;
 font-weight: bold;}

.user-name {
  font-size: 15px;
  display: inline-block; /* Esto asegura que el borde se aplique solo alrededor del nombre y no a lo largo de la línea */
}

.cart-button {
  font-size: 20px; /* Ajusta el tamaño del icono según tus preferencias */
}

.custom-mat-button:hover {
  transform: scale(1.5); /* Hace que el botón crezca al pasar el ratón */
}

.grow-on-hover:hover {
  transform: scale(1.1);
  transition: transform 0.3s; /* Agrega una transición para suavizar el efecto */

}

.logo-container {
  display: flex;
  align-items: center;

}

.logo {
  height: 50px;
  margin-right: 10px;
}

.store-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.spacer {
  flex: 1;
}

.cart-button mat-icon {
  font-size: 28px;
  height: 28px;
  width: 28px;
}

.cart-button {
  margin-right: 10px;
}

.mat-toolbar {
  background-color: #ededed;
  color: rgb(0, 0, 0);

}
.active {
  background-color: rgb(235, 198, 159);
}

.logo-container:hover {
  transition: transform 0.3s ease;
}

.navbar:hover {
  background-color: #f8f9fa; /* Cambia el color de fondo al pasar el ratón por encima */
}

.user-options-container {
  display: flex;
  align-items: center;
}

.developer-options-text {
  margin-right: 8px; /* Ajusta el espacio entre el texto y el icono según tu preferencia */
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
