.contenedor {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  box-shadow: 0px 0px 7px 1px #efefef !important;
  max-width: 600px !important;
}

/* .contenedor1{
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
} */

.wrappers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
  100% {
      stroke-dashoffset: 0
  }
}

@keyframes scale {

  0%,
  100% {
      transform: none
  }

  50% {
      transform: scale3d(1.1, 1.1, 1)
  }
}

@keyframes fill {
  100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142
  }
}
.bannerlogo{
  background-color: #a70000 !important;
}
.fondologo{
  background: url("/./assets/img/Leptinasa/backgraund_leptinasa_plus.png") no-repeat fixed center;
}

.circle-with-x {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  position: relative;
}

.circle-with-x::after,
.circle-with-x::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.circle-with-x::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.circle-with-x::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
