
<div class="mt-4 pt-5 pb-5 d-flex justify-content-center backInLeft">
  <div class="row d-flex align-items-center d-flex justify-content-center ">
    <div class="col-12 col-md-4 d-flex justify-content-center pe-5">
      <img class="nodisponible" [src]="dark" alt="Instruments"style="height: 300px;">
    </div>
    <div class="col-12 col-md-4">
      <div class="row">
        <h1 class="h4"><b>!Compra no realizada!</b></h1>
        <p class="justify">
          Algo fallo en la compra.
        </p>
      </div>
      <div class="col-12 d-flex justify-content-start">
        <button mat-button routerLink="/">{{'Ir a '+nombre }}</button>
      </div>
    </div>
  </div>
</div>
