<div class="container px-4 py-5 text-center" id="featured-3">
  <h1 class="pb-2 border-bottom bold">¿Quiénes Somos?</h1>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-transparent fs-2 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
        </svg>
      </div>
      <h3 class="fs-2 text-body-emphasis">Nuestro Equipo</h3>
      <p>Somos el grupo 08 de Desarrollo de Aplicaciones Web Avanzado. Nuestra fundación se basa en la creencia de que unidos podemos lograr más,
        y eso nos impulsa a buscar constantemente nuevas oportunidades.</p>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-transparent fs-2 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
          <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
        </svg>
      </div>
      <h3 class="fs-2 text-body-emphasis">Perfiles</h3>
      <ul class="text-center" style="list-style-type: none; padding: 0;">
        <li style="text-indent: -1em; padding-left: 1em;">Vizueta Jaramillo Kevin Josué</li>
        <li style="text-indent: -1em; padding-left: 1em;">Ortíz Ramirez Doménica Briggitte</li>
        <li style="text-indent: -1em; padding-left: 1em;">Luna Yagual Javier Israel</li>
        <li style="text-indent: -1em; padding-left: 1em;">Jácome Hernández Walter Luis</li>
        <li style="text-indent: -1em; padding-left: 1em;">Pita Pincay Erick David</li>
      </ul>
    </div>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-transparent fs-2 mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
          <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864z"/>
          <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1z"/>
        </svg>
      </div>
      <h3 class="fs-2 text-body-emphasis">Nuestra Misión</h3>
      <p> En el núcleo de nuestro equipo se encuentra una misión clara y valores fundamentales.
         Nuestra misión es impulsar la innovación y el aprendizaje colaborativo, proporcionando soluciones creativas a desafíos contemporáneos.</p>
    </div>
  </div>
</div>

<section class="portada">
  <div class="card text-bg-dark">
    <img src="assets/Images/about/about1.jpeg" class="card-img" alt="about">
    <div class="card-img-overlay">
    </div>
  </div>
</section>
